.build/
.vscode/
/.configuration.json
/QuantumMechanicsCoreTests/Elementary/QuarkTests.swift
/QuantumMechanicsCoreTests/DiscretionTests.swift
/QuantumMechanicsCoreTests/MeasurementTests.swift
/tooling/.venv/
xcuserdata/
