.build/
.vscode/
/.configuration.json
/QuantumMechanicsTests/Elementary/QuarkTests.swift
/QuantumMechanicsTests/DiscretionTests.swift
/QuantumMechanicsTests/MeasurementTests.swift
/tooling/.venv/
xcuserdata/
