.build/
/tooling/.venv/
QuantumMechanics/Measurement+Differentiable.swift
QuantumMechanicsTests/DiscretionTests.swift
QuantumMechanicsTests/Elementary/QuarkTests.swift
QuantumMechanicsTests/MeasurementTests.swift
xcuserdata/
