name: Test
on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]
jobs:
  test:
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure Swift toolchain
        run: |
             curl -O https://download.swift.org/swiftly/darwin/swiftly.pkg
             installer -pkg swiftly.pkg -target CurrentUserHomeDirectory
             version=$(cat .swift-version | xargs)
             ~/.swiftly/bin/swiftly init --assume-yes --skip-install
             ~/.swiftly/bin/swiftly install --assume-yes --verbose "$version"
             build_date="${version: -10}"
             toolchain_path=~/Library/Developer/Toolchains/swift-DEVELOPMENT-SNAPSHOT-"$build_date"-a.xctoolchain
             echo SWIFT_TOOLCHAIN_ID=$(defaults read "$toolchain_path"/Info CFBundleIdentifier) >> $GITHUB_ENV

             # This is weird: neither the current development snapshot nor posterior ones as of
             # December 17, 2025 include the GNU linker (ld), which is required for compiling Swift
             # sources.
             #
             # And, for some reason unknown by me, ld outputs the details of its version
             # successfully *before* `swift build` is called (by `swift run`), but yields an empty
             # string when `swift build` calls it.
             #
             # https://github.com/swiftlang/swift-build/blob/ff02f8db335e41af9ccdc15896a94c667d31288b/Sources/SWBCore/SpecImplementations/Tools/LinkerTools.swift#L1916-L1920
             #
             # As a workaround, we "intercept" calls to ld, outputting the details of its version
             # which are expected by the caller when the `version_details` flag is passed in;
             # otherwise, the call is forwarded to the ld included in macOS.
             cat > "$toolchain_path"/usr/bin/ld.c << EOF
             #include <stdio.h>
             #include <string.h>
             #include <unistd.h>
 
             int main(int argc, char **argv) {
               if (!strcmp(argv[1], "-version_details")) {
                 printf(
                   "{\n"
                   "  \"version\": \"1221.4\",\n"
                   "  \"architectures\": [\n"
                   "    \"armv6\",\n"
                   "    \"armv6m\",\n"
                   "    \"arm64\",\n"
                   "    \"arm64_32\",\n"
                   "    \"arm64e\",\n"
                   "    \"armv7\",\n"
                   "    \"armv7s\",\n"
                   "    \"armv7em\",\n"
                   "    \"armv7k\",\n"
                   "    \"armv7m\",\n"
                   "    \"armv8.1m.main\",\n"
                   "    \"armv8m.main\",\n"
                   "    \"i386\",\n"
                   "    \"x86_64\",\n"
                   "    \"x86_64h\",\n"
                   "  ],\n"
                   "  \"lto\": {\n"
                   "    \"runtime_api_version\": 29,\n"
                   "    \"static_api_version\": 29,\n"
                   "    \"version_string\": \"LLVM version 17.0.0\"\n"
                   "  },\n"
                   "  \"tapi\": {\n"
                   "    \"version\": \"17.0.0\",\n"
                   "    \"version_string\": \"Apple TAPI version 17.0.0 (tapi-1700.3.8)\"\n"
                   "  }\n"
                   "}\n"
                 );
               } else {
                 execv("/usr/bin/ld", &argv[1]);
               }
               return 0;
             }
             EOF
             clang "$toolchain_path"/usr/bin/ld.c -o "$toolchain_path"/usr/bin/ld
             rm "$toolchain_path"/usr/bin/ld.c
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_26.1.1.app/Contents/Developer
      - name: Test
        run: |
             mkdir build
             export TOOLCHAINS=${{ env.SWIFT_TOOLCHAIN_ID }}
             xcodebuild                                                                        \
               -allowProvisioningUpdates                                                       \
               -destination 'platform=OS X,arch=${{ matrix.arch }}'                            \
               -resultBundlePath ResultBundle_${{ github.run_id }}_${{ matrix.arch }}.xcresult \
               -scheme Deus                                                                    \
               -verbose                                                                        \
               CODE_SIGN_IDENTITY='-'                                                          \
               build test
      - name: Export result
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: ResultBundle_${{ github.run_id }}_${{ matrix.arch }}.xcresult
          path: ResultBundle_${{ github.run_id }}_${{ matrix.arch }}.xcresult
    strategy:
      matrix:
        arch: [x86_64, arm64]
