name: Test
env:
  SELECTED_XCODE: '/Applications/Xcode_26.2.app/Contents/Developer'
on:
  pull_request:
    branches: [ 'main' ]
  push:
    branches: [ 'main' ]
jobs:
  test:
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Select Xcode
        run: sudo xcode-select -switch "$SELECTED_XCODE"
      - name: Install Swift toolchain
        run: |
             curl -O https://download.swift.org/swiftly/darwin/swiftly.pkg
             installer -pkg swiftly.pkg -target CurrentUserHomeDirectory
             version="$(cat .swift-version | xargs)"
             ~/.swiftly/bin/swiftly init --assume-yes --skip-install
             ~/.swiftly/bin/swiftly install --assume-yes --verbose "$version"
             echo SWIFT_TOOLCHAIN_BUILD_DATE="${version: -10}" >> $GITHUB_ENV
      - name: Test
        run: |
             configure_swift_toolchain_in_environment() {
               source ~/.swiftly/env.sh
               swift_toolchain_path=~/Library/Developer/Toolchains/swift-DEVELOPMENT-SNAPSHOT-${{ env.SWIFT_TOOLCHAIN_BUILD_DATE }}-a.xctoolchain
               export TOOLCHAINS="$(defaults read "$swift_toolchain_path"/Info CFBundleIdentifier)"
             }

             intercept_swift_toolchain_linker() {
               # This is weird: neither the current development snapshot nor posterior ones as of
               # December 17, 2025 include the GNU linker (ld), which is required for compiling
               # Swift sources.
               #
               # And, for some reason unknown by me, ld outputs the details of its version
               # successfully *before* `swift build` is called (by `swift run`), but yields an empty
               # string when `swift build` calls it.
               #
               # https://github.com/swiftlang/swift-build/blob/ff02f8db335e41af9ccdc15896a94c667d31288b/Sources/SWBCore/SpecImplementations/Tools/LinkerTools.swift#L1916-L1920
               #
               # As a workaround, we "intercept" calls to ld, outputting the details of its version
               # which are expected by the caller when the `version_details` flag is passed in;
               # otherwise, the call is forwarded to the ld included in macOS.
               cat > "$swift_toolchain_path"/usr/bin/ld.c << 'EOF'
             #include <stdio.h>
             #include <stdlib.h>
             #include <string.h>
             #include <unistd.h>

             int main(int argc, char **argv) {
               size_t arguments_as_string_size = 0;
               for (int index = 0; index < argc - 1; index++) {
                 arguments_as_string_size += strlen(argv[index]) + 1;
               }
               char *arguments_as_string = malloc(arguments_as_string_size);
               if (arguments_as_string != NULL) {
                 arguments_as_string[0] = '\0';
                 for (int index = 0; index < argc - 1; index++) {
                   strcat(arguments_as_string, argv[index]);
                   if (index == argc - 1) continue;
                   strcat(arguments_as_string, " ");
                 }
                 printf("%s\n", arguments_as_string);
                 free(arguments_as_string);
               }
               if (!strcmp(argv[1], "-version_details")) {
                 printf(
                   "{\n"
                   "  \"version\": \"1221.4\",\n"
                   "  \"architectures\": [\n"
                   "    \"armv6\",\n"
                   "    \"armv6m\",\n"
                   "    \"arm64\",\n"
                   "    \"arm64_32\",\n"
                   "    \"arm64e\",\n"
                   "    \"armv7\",\n"
                   "    \"armv7s\",\n"
                   "    \"armv7em\",\n"
                   "    \"armv7k\",\n"
                   "    \"armv7m\",\n"
                   "    \"armv8.1m.main\",\n"
                   "    \"armv8m.main\",\n"
                   "    \"i386\",\n"
                   "    \"x86_64\",\n"
                   "    \"x86_64h\",\n"
                   "  ],\n"
                   "  \"lto\": {\n"
                   "    \"runtime_api_version\": 29,\n"
                   "    \"static_api_version\": 29,\n"
                   "    \"version_string\": \"LLVM version 17.0.0\"\n"
                   "  },\n"
                   "  \"tapi\": {\n"
                   "    \"version\": \"17.0.0\",\n"
                   "    \"version_string\": \"Apple TAPI version 17.0.0 (tapi-1700.3.8)\"\n"
                   "  }\n"
                   "}\n"
                 );
               } else {
                 execv("/usr/bin/ld", argv);
               }
               return 0;
             }
             EOF
               clang "$swift_toolchain_path"/usr/bin/ld.c -o "$swift_toolchain_path"/usr/bin/ld -v
               rm "$swift_toolchain_path"/usr/bin/ld.c
             }

             ensure_swift_toolchain_configuration() {
               (source "$GITHUB_WORKSPACE"/tooling/assert.sh
               assert_eq                                       \
                 "$(swiftly use --print-location | head -n 1)" \
                 "$swift_toolchain_path"                       \
                 'Swift of Swiftly is not that of the development toolchain.'
               assert_eq                                                                     \
                 "$(swift --version | head -n 1)"                                            \
                 "Apple Swift version 6.3-dev (LLVM 36e07716208ae15, Swift 7b214378007870f)" \
                 'Version of Swift is not 6.3-dev.'
               assert_eq                             \
                 "$(xcode-select --print-path)"      \
                 "$SELECTED_XCODE"                   \
                 "$SELECTED_XCODE was not selected."
               assert_eq                                                    \
                 "$(xcrun --find swift)"                                    \
                 "$swift_toolchain_path"/usr/bin/swift                      \
                 'Swift of xcrun is not that of the development toolchain.'
               assert_eq                                                        \
                 "$(find "$swift_toolchain_path"/usr/bin -maxdepth 1 -name ld)" \
                 "$swift_toolchain_path"/usr/bin/ld                             \
                 'Interceptor ld was not included in the toolchain.')
             }

             run_tests() {
               mkdir build
               xcrun                                                                             \
                 xcodebuild                                                                      \
                 -allowProvisioningUpdates                                                       \
                 -destination 'platform=OS X,arch=${{ matrix.arch }}'                            \
                 -resultBundlePath ResultBundle_${{ github.run_id }}_${{ matrix.arch }}.xcresult \
                 -scheme Deus                                                                    \
                 -verbose                                                                        \
                 CODE_SIGN_IDENTITY='-'                                                          \
                 build                                                                           \
                 test
             }

             configure_swift_toolchain_in_environment
             intercept_swift_toolchain_linker
             ensure_swift_toolchain_configuration
             run_tests
      - name: Export result
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: ResultBundle_${{ github.run_id }}_${{ matrix.arch }}.xcresult
          path: ResultBundle_${{ github.run_id }}_${{ matrix.arch }}.xcresult
    strategy:
      matrix:
        arch: [x86_64, arm64]
