name: Test
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  test:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_26.0.1.app/Contents/Developer
      - name: Test
        run: |
             mkdir build && xcodebuild \
             -scheme Deus \
             -destination 'platform=OS X,arch=${{ matrix.arch }}' \
             -allowProvisioningUpdates CODE_SIGN_IDENTITY='-' \
             build test &&
             exit ${PIPESTATUS[0]}
    strategy:
      matrix:
        arch: [x86_64, arm64]
