name: Test
env:
  SELECTED_XCODE: '/Applications/Xcode_26.2.app/Contents/Developer'
on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]
jobs:
  test:
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure Swift toolchain
        run: |
             curl -O https://download.swift.org/swiftly/darwin/swiftly.pkg
             installer -pkg swiftly.pkg -target CurrentUserHomeDirectory
             version=$(cat .swift-version | xargs)
             ~/.swiftly/bin/swiftly init --assume-yes --skip-install
             ~/.swiftly/bin/swiftly install --assume-yes --verbose "$version"
             build_date="${version: -10}"
             toolchain_path=~/Library/Developer/Toolchains/swift-DEVELOPMENT-SNAPSHOT-"$build_date"-a.xctoolchain
             echo SWIFT_TOOLCHAIN_ID="$(defaults read "$toolchain_path"/Info CFBundleIdentifier)" >> $GITHUB_ENV

             # Because dealing with development snapshots has been cumbersome, we ensure as much as
             # possible that the toolchain being used is the installed one. For reference on the
             # hassle, see https://github.com/supernova-oss/Deus/pull/44 and
             # https://github.com/supernova-oss/Deus/pull/58.
             source "$GITHUB_WORKSPACE"/tooling/assert.sh
             assert_eq                                                      \
               "$(~/.swiftly/bin/swiftly use --print-location | head -n 1)" \
               "$toolchain_path"
             assert_eq                                                                 \
               "$(swift --version)"                                                    \
               "swift-driver version: 1.127.14.1
             Apple Swift version 6.3-dev (LLVM 36e07716208ae15, Swift 7b214378007870f)
             Target: arm64-apple-macosx26.0
             Build config: +assertions"                                                \
             "Version of Swift is not 6.3-dev."
             assert_eq                                           \
               "$(xcrun --find swift)"                           \
               "$toolchain_path"/usr/bin/swift
               "Swift is not that of the development toolchain."
      - name: Select Xcode
        run: sudo xcode-select -switch "$SELECTED_XCODE"
      - name: Test
        run: |
             mkdir build
             export TOOLCHAINS=${{ env.SWIFT_TOOLCHAIN_ID }}
             xcodebuild                                                                        \
               -allowProvisioningUpdates                                                       \
               -destination 'platform=OS X,arch=${{ matrix.arch }}'                            \
               -resultBundlePath ResultBundle_${{ github.run_id }}_${{ matrix.arch }}.xcresult \
               -scheme Deus                                                                    \
               -verbose                                                                        \
               CODE_SIGN_IDENTITY='-'                                                          \
               build test
      - name: Export result
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: ResultBundle_${{ github.run_id }}_${{ matrix.arch }}.xcresult
          path: ResultBundle_${{ github.run_id }}_${{ matrix.arch }}.xcresult
    strategy:
      matrix:
        arch: [x86_64, arm64]
